/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.idea/
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/public/js/app.js
/public/js/*.js
/public/js/*.bundle.js
/public/js/
/public/css/app.css
package-lock.json
composer.lock
/public/mix-manifest.json
/public/fonts/vendor/
nohup.out
laravel-echo-server.json
laravel-echo-server.lock
/v8-compile-cache-0/
